.footer {
    padding: 10px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 5px 0px rgba(191, 122, 122, 0.71);
    background-color: #ffb32f;
    font-size:inherit;
}

.footer span{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    color: #fff;
    font-weight: bold;
}
