
/* Navigation bar */
.navbar {
    padding: 20px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 5px 0px rgba(191, 122, 122, 0.71);
    background-color: #ffb32f;
}
.nav-input {
    background: none;
    border: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;
    text-decoration: none;
    display: inline;
    outline: none;
    transition: text-decoration .9s ease;
    transition: transform .9s;
}

.nav-input:hover {
    text-decoration: underline;
    transform: scale(1.2);
}

.nav-input:focus {
    text-decoration: none;
}
.navbar-left {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    cursor:pointer;
}

.navbar-left div {
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-left div:hover {
    color: #e6a415b7;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-left>*,
.navbar-right>* {
    margin: 10px;
}

.sign-in,
.join-now {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500px;
    border: 1px solid black;
    border-radius: 40px;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
}

.sign-in {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: black;
}

.join-now {
    background-color: black;
    color: white;
}

.sign-in:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.join-now:hover {
    background-color: rgba(0, 0, 0, 0.7);
}