/* Navigation bar */
.navbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 5px 0px rgba(191, 122, 122, 0.71);
    background-color: #ffb32f;
}

.nav-input {
    background: none;
    border: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;
    text-decoration: none;
    display: inline;
    outline: none;
    transition: text-decoration .9s ease;
    transition: transform .9s;
}

.nav-input:hover {
    transform: scale(1.2);
}

.nav-input:focus {
    text-decoration: none;
}

.navbar-left,
.navbar-right {
    display: flex;
}

.navbar-left>*,
.navbar-right>* {
    margin: 10px;
}