.service-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem;
    text-align: center;
}

.service-container h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.service {
    flex: 1;
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.service:hover {
    transform: scale(1.15); /* Ajoutez cette règle */
}

.service h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.service p {
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 1.5rem;
}

.cta {
    margin-top: 3rem;
}