.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.feature {
    width: 250px;
    margin-bottom: 2rem;
}

.feature img {
    display: block;
    width: 100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    transition: transform .1s;
}

.feature img:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.image-container {
    margin-top: 2rem;
    text-align: center;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.transparent-button {
    background: none;
    border: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;
    text-decoration: underline;
    display: inline;
    outline: none;
    text-decoration: none;
}

.transparent-button:hover {
    opacity: 0.8;
}
