/* Navigation bar */
.navbar {
  padding: 20px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 5px 0px rgba(191, 122, 122, 0.71);
  background-color: #ffb32f;
}

.navbar-left {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  cursor:pointer;
}

.navbar-left :hover {
  color: #ffe6b1;
}


.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-left>*,
.navbar-right>* {
  margin: 10px;
}

.connexion,
.inscription {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500px;
  border: 1px solid black;
  border-radius: 40px;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
}

.connexion {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: black;
}

.inscription {
  background-color: black;
  color: white;
}

.connexion:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.inscription:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.nav-input {
  background: none;
  border: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: inline;
  outline: none;
  text-transform: uppercase;
}

.nav-input:hover {
  text-decoration: none;
}

.nav-input:focus {
  text-decoration: none;
}
