@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
.header {
    background-color: #E8AABE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Square Peg', cursive;
}

.middle {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.middle h1{
    font-family: 'Cookie', cursive;
    font-size: 4rem;
}

.left img{
    max-width: 50%;
}

.right {
    display: flex;
    align-items: center;
}

.right .login-container {
    float: right;
}

.right .login-container input[type=submit] {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: #555;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.right .login-container input[type=submit]:hover {
    background-color: green;
}

.right input[type=text], .right input[type=password] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width:120px;
  }