body{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: flex;
    height: 1000%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #ffb32f48;   
}

.menu {
    background-color: #5784BA;
    padding-right: 2.5%;
    padding-left: 2.5%;
}
.menu li{
    list-style-type: none;
    padding-bottom: 25%;
    
}
.menu ul{
    padding: 10px;
    padding-top: 10%;
    padding-bottom: 10%;
}

.menu input{
    margin: auto;
    background-color: #F7F6CF;
    border-color: #9AC8EB;
    border-radius: 10%;
    width: 100px;
}
.menustyle{
    text-decoration: underline;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


table{
    width: 100%;
    text-align: center;
    border-radius: 5%;

}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}